@import 'yeticss'
@import './util/util'
@import './modules/content'
@import './modules/footer'

body
	// font-family "Open Sans"
	font-family "Source Code Pro"
	font-weight 400
	background-color #f5f5f5

h1
	font-family "Montserrat"
	letter-spacing 2px
	font-weight 700
	font-size 4rem
	text-transform uppercase

a, a:visited, a:active, a:hover
	color #112
	text-decoration underline

a:hover
	text-decoration none

.track-title
	margin 0
	background-color white
	padding 3rem 0 3rem 0
