mixin head(title)
  head
    title= title
    script(src='http://localhost:9000')
    script(src='/js/bundle.js')
    link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat:700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/main.css', type='text/css')
